/*esp. 1*/
body {
      font: 400 15px Tahoma, sans-serif;
      line-height: 1.8;
      color: darkslategray;
      background-color: #f6f6f6;
  }

/*esp. 1*/
h1 {
    background-color:dodgerblue; 
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 4em;
    font-weight: bold;
    line-height: 0.05; 
    margin: 0 0 10px; 
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    border-style: solid;
  }
/*esp. 1*/
h2{
  font-size: 2em;
  text-align: center;
  padding: 10px 30px;
  border-style: solid;
  
}  

/*esp. 1*/
p{
    margin: 30px 30px 10px;
    font-size: 1.2em;
}

/*esp. 1, 1, 1*/
img,video,audio{
    display: block;
    margin-left: auto;
    margin-right: auto;   
}

/*esp. 1*/
a{
    padding: 0.3em;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
}

/*esp. 2*/
nav li {
    display: inline-block;
    }

/*esp. 2*/
nav ul{
    text-align: center;
}

/*esp. 3*/
nav li a {
    font-size: 25px;
    text-decoration: none;
    float: left;
    padding: 10px;
    background-color: #2175bc;
    color: #fff;
}



