/*esp. 100*/
#temporadas {
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
}

/*esp. 101, 101 */
#temporadas th, #temporadas td {
    text-align: left;
    padding: 8px;
    border: 1px solid black;
}

/*esp 111*/
#temporadas tr:nth-child(even) {
    background-color: lightblue
}

/*esp. 111*/
#temporadas tr:nth-child(odd) {
    background-color: #f2f2f2
}

/*esp. 101*/
#temporadas th {
    background-color: dodgerblue;
    color: white;
}